<!doctype html>
<html lang="en">
    <head> 
        <title>Thermal Chamber Server </title>
        <!-- ----- Necessary script and styles ------------------------------------------------------------------- -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> 
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <!-- ----------------------------------------   -->
        <script src="static/js/socket.io.js"></script>
        <!-- --- Socket IO Connections --------------------------------------------------------------------------- -->
        <script type="text/javascript" charset="utf-8">
            var socket = io();
            socket.on('connect', function() {
              document.getElementById('status').innerHTML = "Connected";
            });
            socket.on("time_msg", function(mes) {
                // console.log(mes);
              document.getElementById('rttime_msg').innerHTML = mes.toString();
            });
            socket.on("tmp_send", function(mes) {
              document.getElementById('temp_plots').innerHTML = mes;
            });
            socket.on("hmd_send", function(mes) {
              document.getElementById('hmd_plots').innerHTML = mes;
            });
            socket.on("client_update", function(mes) {
              console.log(mes)
              //  document.getElementById('clients').innerHTML =mes.toString();
            });
        </script>
        <!-- ---------------------------------------------------------------------------------------------------   -->
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary bg-gradient">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"> <h1> TCMS </h1></a>
              <span class="navbar-text">
                <h2> THERMAL CHAMBER MONITORING SYSYTEM  1.0 </h2>
              </span>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-auto px-0">
                    <div id="sidebar" class="collapse collapse-horizontal show border-end">
                        <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
                          <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-film"></i> <span>Start Chiller</span></a>
                          <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-film"></i> <span>Stop Chiller</span></a>
                          <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar"><i class="bi bi-film"></i> <span>Change Period</span></a>
                          <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar" data-bs-toggle="modal" data-bs-target="#exampleModal" > <i class="bi bi-bootstrap"></i> <span>Download</span> </a>
                        </div>
                    </div>
                </div>
                <main class="col ps-md-2 pt-2">
                    <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="border rounded-3 p-1 text-decoration-none"><i class="bi bi-list bi-lg py-2 p-1"></i> Menu</a>
                    <div class="page-header pt-3">
                        <h2> THERMAL CHAMBER MONITOR </h2>
                    </div>
                    <p class="lead">The values are collected from the  2 x 24 thermal and 8 x (temperature and relative humidity) sensors every 10 seconds</p>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div>  Status : 
                                <p1 id="rttime_msg"> Time and iteration will be here </p1>
                                </div>    
                            <p1 id="status"> Not Connected </p1>
                            <div><p1 id="doorstatus"> Door Open </p1></div>
                            <hr>
                            <h3> Temperature Measurements </h3>   
                           <!-- <div>  Active Clients = <p1 id='clients'>  --- </p1> </div> -->
                           <!--    Temperature Monitoring   -->
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-9">
                                        <p1 id="temp_plots"> Temperature plots</p1>
                                    </div>
                                    <div class="col-md-3">
                                        <h4>Select the sensors you want to plot</h4>
                                        <form action="/" method="post">
                                            <h4>Sensors of Card-1</h4>
                                            {% for i in range(0,24) %}
                                                <input class="form-check-input" type="checkbox" name="s{{i+1}}" {% if cht[i]==1 %} checked {% endif %}>   
                                                <label class="form-check-label" for="s{{i+1}}">{{i+1}}</label>
                                                {% if (i+1)%4==0 %}
                                                    <div></div>
                                                {% endif %}
                                            {% endfor %}
                                            <h4>Sensors of Card-2</h4>
                                            {% for i in range(0,24) %}
                                                <input class="form-check-input" type="checkbox" name="s{{i+25}}" {% if cht[i+24]==1 %} checked {% endif %}>   
                                                <label class="form-check-label" for="s{{i+25}}">{{i+1}}</label>   
                                                {% if (i+1)%4==0 %}
                                                    <div></div>
                                                {% endif %}
                                            {% endfor %}
                                            <div>
                                            <input type="submit" value="Submit">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--  Humidity  Controller -->
                            <hr>
                            <h3> Humidity Measurements </h3> 
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-9">
                                        <p1 id="hmd_plots"> Humidity plots</p1>
                                    </div>
                                    <div class="col-md-3">
                                        <h4>Select the sensors you want to plot</h4>
                                        <form action="/" method="post">
                                            <h4>Dew Point Sensors</h4>
                                            {% for i in range(0,8) %}
                                                <input class="form-check-input" type="checkbox" name="s{{i+49}}" {% if cht[i+48]==1 %} checked {% endif %}>
                                                <label class="form-check-label" for="s{{i+49}}">{{i+1}}</label> 
                                                {% if (i+1)%4==0 %}
                                                    <div></div>
                                                {% endif %}
                                            {% endfor %}
                                            <div>
                                            <input type="submit" value="Submit">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="container">
                            <div class="row">  
                                    <div class="col">
                                      <a href="{{ url_for('static', filename='combinedHistory.db') }}"> All Temperature Data </a>
                                    </div>
                                  <div class="col">
                                    <a href="{{ url_for('static', filename='combinedHistory.db') }}"> All Humiditiy Data </a>
                                  </div>
                                </div>
                              </div>
                            <div> Copyright 2021 K.N.</div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
<!-- Button trigger modal -->

  
        <!-- Modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>   
              <div class="mb-3">
                <label for="formFile" class="form-label">Default file input example</label>
                <input class="form-control" type="file" id="formFile">
              </div>     
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save File</button>
        </div>
      </div>
    </div>
  </div>
  
          












    <!-- -------  Necessary JS fro boot strap --------------- -------------------------------   -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- -------------------------------------------------------------------------------------- -->
    </body>
</html>